.Desserts {
    background-color: darksalmon
}

.Flexbox {
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 196, 113);
    padding-left: 30%;
    padding-right: 30%;

}
.Flexbox2 {
    display:flex;
    flex-direction: row;
    background-color:indianred;
    padding-left: 25%;
    padding-right: 25%;

}
.Flexbox3 {
    display: flex;
    flex-direction: row;
    background-color:rgb(233, 150, 122);
    padding-left: 30%;
    padding-right: 30%;
}
.ganzeKarte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(225, 200, 163);
    color:rgb(105, 10, 10);
    font-style:oblique;


}
.Flexbox4 {
    display: flex;
    flex-direction: row;
    background-color: rgb(198, 133, 64);
    padding-left: 30%;
    padding-right: 30%;
}

    
    
